# Core packages
python-dotenv==0.19.2  # Read environment variables from .env
Flask==2.0.2           # Web microframework
uWSGI==2.0.20          # Application server
syspath==2.0.5         # Modify paths

# Features
git+git://github.com/albertyw/flask-sitemap@python-3-10#flask-sitemap
# Web sitemaps

# Monitoring/tracking/logging
blinker==1.4           # Dependency of rollbar
rollbar==0.16.2        # rollbar.com error logging
varsnap==1.4.6         # Test discovery
