# Core packages
python-dotenv==0.10.3  # Read environment variables from .env
Flask==1.1.1           # Web microframework
Flask-Assets==0.12     # Merge and minify CSS and JS assets
pyscss==1.3.5          # CSS minification
uWSGI==2.0.18          # Application server
syspath==1.1.0         # Modify paths

# Features
flask-sitemap==0.3.0   # Web sitemaps

# Monitoring/tracking/logging
blinker==1.4           # Dependency of rollbar
newrelic==4.20.1.121   # Website monitoring
rollbar==0.14.7        # rollbar.com error logging
varsnap==0.7.0         # Test discovery
