# Core packages
python-dotenv==0.21.1  # Read environment variables from .env
Flask==2.2.2           # Web microframework
gunicorn==20.1.0       # WSGI server
syspath==3.0.2         # Modify paths

# Features
flask-sitemap==0.4.0   # Web sitemaps

# Monitoring/tracking/logging
blinker==1.5           # Dependency of rollbar
rollbar==0.16.3        # rollbar.com error logging
setproctitle==1.3.2    # Allow gunicorn to set process title
varsnap==1.5.5         # Test discovery
