[Unit]
Description=uWSGI instance
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/$PROJECT_NAME
Environment="PATH=/var/www/.virtualenvs/$PROJECT_NAME/bin"
ExecStart=/var/www/.virtualenvs/$PROJECT_NAME/bin/uwsgi --ini /var/www/$PROJECT_NAME/config/uwsgi/website.ini

[Install]
WantedBy=multi-user.target
